@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

.contenedor-grid {
    display: grid;
    grid-template-areas: 
    "nav "
    "header "
    "main "
    "footer ";
}

/*Inicio*/


@keyframes entrada {
    0% {
        transform: translateX(300vh);
    }

    100% {
        transform: translateX(0vh);
    }


}

.icono-nav img {
    animation-name: entrada;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.color-nav li {
    transition: all .5s ease;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
}

.color-nav li:hover {
    transform: scale(1.5);
}

li a:hover {
    text-decoration: underline red;
}

main {
    padding: 0 20px;
    grid-area: main;
    color:white;
    background-color: black;
}

main h1 {
    text-align: center;
    margin: 20px;
}

.primer-caja {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    padding: 25px 0;
    justify-content: center;
}

.primer-caja img {
    width: 100%;
    max-width: 100%;
    height: 500px;
}

.primer-caja p {
    line-height: 25px;
    text-align: center;
}

main h2 {
    text-align: center;
}

.segunda-caja {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-top: 40px;
    align-items: center;
    color: white;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: black;
}

.footer-ul {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.footer-ul li {
    display: inline-block;
    transition: all .5s ease;
    padding: 10px;
    margin: 5px;
}

.footer-ul li:hover {
    transform: scale(1.5);
}

.footer-ul img {
    width: 35px;
    height: 35px;
}

/*Pagina eventos y catering */


.header-eventos h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.main-eventos {
    padding: 20px 10px;
}
.seccion-eventos {
    display: flex;
    flex-direction: row;
}

.seccion-eventos p {
    text-align: center;
    align-self: center;
}

.seccion-eventos img {
    width: 280px;
    height: 250px;
    padding: 10px 25px;
}

/*Menu*/ 

header h2 {
    text-align: center;
}

.galeria-fotos {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 30px 15px;
}

.galeria-fotos img {
    width: 280px;
    height: 220px;
    padding: 10px;
}

/*Nosotros*/

.contenedor-mapa {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 25px;
    padding: 25px;
}

iframe {
    max-width: 100%;
    grid-column: 2/2;
    width: 100%;
}

.contenedor-mapa p {
    text-align: start;
    align-self: center;
    grid-column: 1/2;
    max-width: 100%;
}


/* Contacto*/

.contenedor-forms {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding-bottom: 25px;
}

h4 {
    text-align: center;
    margin: 10px 0;
}

.contacto {
    color: black;
    width: 30%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 black;
    margin: auto;
}

form .elementos-forms {
    margin: 45px;
}

.elementos-forms input, textarea {
    color:black;
    font-size: 15px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

.button-forms button {
    display:block;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin: 10px auto;
    cursor: pointer;

}



/*media------querie*/


@media screen and (max-width:768px) {


/*mediaquerie inicio*/

.nav-principal {
    grid-area: nav;
    display: flex;
    align-items: center;
    flex-flow:column;
    background-color: white;
    justify-content: center;
}
.nav-principal img {
    width: 120px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}

.nav-principal ul li {
    display: block;
    list-style-type: none;
    padding:0px;
    text-align: center;
}

.primer-caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.primer-caja img {
    padding: 15px;
    width:100%;
    max-width: 100%;
    max-height: 100%;
    height:100%;
}

.primer-caja p {
    line-height: 20px;
    font-size: 15px;
}

main {
    grid-area: main;
    color:white;
}

main h2 {
    text-align: center;
}

.segunda-caja {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 25px;
    align-items:center
}

table {
    margin-top: 30px;
    margin-bottom: 15px;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 20px;
}

.footer-ul {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.footer-ul img {
    width:35px;
    height:35px;
}

.footer-ul li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

/*mediaquerie pagina eventos y catering */

    .seccion-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .seccion-eventos p {
    padding: 15px;
    text-align: center;
    }

    .seccion-eventos img {
    width: 400px;
    height: 250px;
    }

/*mediaquerie pagina menu*/

    .galeria-fotos {
    grid-template-columns: repeat(2,1fr);
    }

/*mediaquerie pagina nosotros*/

    .contenedor-mapa {
    display: none;
    display: flex;
    flex-direction: column;
    }

/*mediaquerie pagina contacto*/

    .contacto{
    width: 60%;
    }
}