/*footer*/

footer{
    grid-area: footer;
    text-align: center;
    .contenedor-mini{
        @mixin personalizacion {
            color: white;
            background-color: black;
            padding: 50px;
        }
        @include personalizacion
    }
    .footer-ul {
        display: flex;
        justify-content:space-around;
        align-items: center;
        margin:2em; 
            $paleta : (
                uno : red,
                dos : green,
                tre : pink,
                );
            @each $colores, $color in $paleta {
                .colores-#{colores} {
                    background-color: $color;
                }
            }   
        .contenedor-hipermini{
            @extend .contenedor-mini;
            color: burlywood;
        }
        
        
        /*li{
            display: inline-block;
            transition: all .5s ease;
            padding: 10px;
            margin: 5px;
            &:hover{
                transform: scale(1.5);
            }
        }
        img{
            width: 35px;
            height: 35px;
        } */
    }
}



