/*nav*/

header{
    grid-area: header;
        .color-nav {
            background-color: white;
            li{
                transition: all .5s ease;
                margin: 0 20px;
                font-weight: bold;
                font-size: 18px;
                &:hover{
                    transform: scale(1.5);
                }
                a{
                    &:hover{
                        text-decoration: underline red; 
                }
            }
        }
        @keyframes entrada {
            0% {
                transform: translateX(300vh);
            }
            100% {
                transform: translateX(0vh);
            }
        }
        .icono-nav{
            img{
                animation-name: entrada;
                animation-duration: 2s;
                animation-iteration-count: 1;
            }
        }
    }
}